/* Animation properties */
.star {
  animation: star 10s ease-out;
}

.wars {
  animation: wars 10s ease-out;
}

.byLine span {
  animation: spin-letters 10s linear;
}

.byLine {
  animation: move-byline 10s linear;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%,
  10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%,
  86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

/* General styles and layout */

.starwars-demo {
  height: 10em;
  left: 40%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byLine span {
  display: inline-block;
}

.star,
.wars,
.byLine {
  position: absolute;
}

.star {
  top: -2.75em;
}

.wars {
  bottom: -1.5em;
}

.byLine {
  color: #fff;
  /* font-family: 'ITC Serif Gothic', Lato; */
  font-size: 1.2em;
  left: -2em;
  letter-spacing: 0.5em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 25%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}

.boxLoading {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ffe919;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.loading {
  display: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
