@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  text-align: center;
  color: #ffe919;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  caret-color: transparent;
}

body {
  background-color: black;
  background-image: url('wallpaperflare.com_wallpaper.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #ffe919;
}

header {
  padding: 60;

  margin-bottom: 10px;
}

#header {
  z-index: 1000;
  position: relative;
  display: flex;
}

#searchHeader {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  cursor: pointer;
  border: none;
}

input {
  border: solid 3px #ffe919;
  border-radius: 5px;
  margin: 5px;
  background-color: black;
  outline: none;
  caret-color: #ffe919;
}

select {
  border: solid 3px #ffe919;
  border-radius: 5px;
  background-color: black;
  margin: 5px;
  outline: none;
}

#searchBtn {
  border: solid 3px #ffe919;
  border-radius: 5px;
  color: #ffe919;
  background-color: black;
}

li {
  list-style: none;
}

footer {
  display: flex;
}

#result {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  gap: 20px;
}

.infoCards {
  background-color: rgb(36 36 36 / 70%);
  width: 95%;
  height: 300px;
  height: 100%;
  display: inline;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(21, 21, 21);
}

.infoCards ul {
  background-color: transparent;
  padding-inline-start: 0px !important;
}

.infoCards li {
  background-color: transparent;
  padding: 10px;
  color: #dddcd8;
  margin: 20px;
}

.infoCards li strong {
  background-color: transparent;
}

.infoCards h1 {
  background-color: gray;
}
.infoCards h3 {
  background-color: lightgray;
}

.infoCards button {
  background-color: black;
  color: #dddcd8;
  border-radius: 20px;
  padding: 8px 25px;
}

.infoCards button:hover {
  color: #ffe919;
}

#detailView > div {
  display: flex;
}

#detailView {
  background-color: rgb(36 36 36 / 70%);
  border-radius: 15px;
}

#detailView button {
  background-color: black;
  color: #dddcd8;
  border-radius: 20px;
  padding: 10px 25px;
  margin-bottom: 30px;
}

#detailView button:hover {
  color: #ffe919;
}

#detailView span {
  display: inline-flex;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 30px 20px 0 20px;
}

#detailView ul {
  padding: 20px;
}

#detailView li {
  padding: 20px;
  color: #dddcd8;
}

.flexContainer {
  display: flex;
  height: 100%;
  width: 50%;
  margin-bottom: 50px;
}

#images img {
  
   border-radius: 15px;
  margin-left: 50px; 
}
