* {
  text-align: center;

  color: yellow;
  margin: auto;

}
body{
  background-color: black;
  background-image: url("wallpaperflare.com_wallpaper.jpg")  !important;  
  background-repeat: no-repeat;
  background-size: 1300px;
  /*background-size: cover ;*/
}
a {
  color: yellow;
}

header {
  padding: 60;

  margin-bottom: 10px;

}
#header {
  z-index: 1000;
  position: relative;
  display: flex;
}
#searchHeader {
  display: flex;
  flex-direction: column;
}
select {
  margin: 5px;
}
button {
  margin: 5px;
}
input {
  border: solid 3px yellow;
  margin: 5px;
  background-color: black;
}
select {
  border: solid 3px yellow;
  background-color: black;
}
#searchBtn {
  border: solid 3px yellow;
  color: yellow;
  background-color: black;
}
li {
  list-style: none;
}
footer {
  display: flex;
}

#result {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
 width: 80%;
} 

.infoCards {
  background-color: rgb(64, 42, 53);
  width: 95%;
  height: 300px;
  border: 1px solid gray;

  height: 100%;
 
  display: inline;
  
  
}
.infoCards ul {
  background-color: rgb(64, 42, 53);
  padding-inline-start: 0px !important;
}
.infoCards li {
  background-color: rgb(64, 42, 53);
  padding: 10px;
  color: gray;
  
}
.infoCards li strong {
  background-color: rgb(64, 42, 53);
}
.infoCards h1{
  background-color: gray;
}
.infoCards h3{
  background-color: lightgray;
}
.infoCards button{
  border-color: yellow;
  background-color: black;
}



#detailView > div {
  display: flex;
  
}
#detailView {
  width: 500px;
 

}
#detailView button {
  border: solid 3px yellow;
  color: yellow;
  padding: 10px;
}

#detailView button:hover {
  color: black;
  background-color: yellow;
}

#detailView span {
  font-weight: bold;
  font-size: 1.6rem;
}

#detailView li {
  text-align: left;
  padding: 20px;
  
}
.flexContainer {
  display: flex;
  
}

