* {
  text-align: center;
  background-color: black;
  color: yellow;
  margin: auto;
}
a {
  color: yellow;
}

header {
  padding: 60;
  border-bottom: 1px solid yellow;
  margin-bottom: 10px;
}
#header {
  z-index: 1000;
  position: relative;
  display: flex;
}
#searchHeader {
  display: flex;
  flex-direction: column;
}
select {
  margin: 5px;
}
button {
  margin: 5px;
}
input {
  border: solid 3px yellow;
  margin: 5px;
}
select {
  border: solid 3px yellow;
}
#searchBtn {
  border: solid 3px yellow;
  color: yellow;
}
li {
  list-style: none;
}
footer {
  display: flex;
}

#result {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
 
} 

.infoCards {
  background-color: rgb(64, 42, 53);
  width: 90%;
  height: 95%;
  border: 1px solid gray;
  margin-bottom: 50px;
  height: 100%;
  width: 400px;
  display: inline;
  
  
}
.infoCards ul {
  background-color: rgb(64, 42, 53);

}
.infoCards li {
  background-color: rgb(64, 42, 53);
  padding: 10px;
  color: gray;
  
}
.infoCards li strong {
  background-color: rgb(64, 42, 53);
}
.infoCards h1{
  background-color: gray;
}
.infoCards h3{
  background-color: lightgray;
}
.infoCards button{
  border-color: yellow;
  background-color: black;
}

body {
  background: #000;
}

#detailView > div {
  display: flex;
}
#detailView {
  width: 500px;

}
#detailView button {
  border: solid 3px yellow;
  color: yellow;
  padding: 10px;
}

#detailView button:hover {
  color: black;
  background-color: yellow;
}

#detailView span {
  font-weight: bold;
  font-size: 1.6rem;
}

#detailView li {
  text-align: left;
  padding: 20px;
}
.flexContainer {
  display: flex;
}

