* {
    text-align: center;
    background-color: black;
    color: yellow;
}

header{
padding: 60;

}
input{
    border: solid 3px yellow;
}
select{
    border: solid 3px yellow;
}
#searchBtn{
    border: solid 3px yellow;
}
li{
    list-style: none;
}
footer{
    display: flex;
}

#result div{
    margin: auto;
    width: 80%;
    border: 1px solid yellow;
    
}